@charset "ISO-8859-1";

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

/* Container styles */
.content-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    align-content: center;
    margin-top: 70px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);;
    background-color: #f0ebe3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    text-align: left;
    color: black;
}

input[type="text"], input[type="number"], select, button[type="submit"],
    button[type="reset"], button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
	background-color: #f6f5f2;
}

input[type="text"], input[type="number"], select {
    border: 1px solid #ccc;
    border: 1px solid black;
	background-color: #f6f5f2;
}

button[type="submit"] {
  background-color: #3b4151;;
    color: white;
    transition: background-color 0.2s ease-in-out;
    margin-top: 15px;
    padding: 30;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

button[type="reset"], button[type="button"] {
    background-color: #3b4151;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    font-family: Arial, sans-serif;
}

.required {
    color: red;
    font-weight: bold;
}

body {
    background-image: url(../images/bg8.jpg);
    background-color: rgba(255, 255, 255, 0.55);
    /* this sets a transparent white background*/
    background-blend-mode: lighten;
    /* this blends the background color with the background image*/
    background-size: cover;
    /* this makes the image cover the entire background */
    background-repeat: no-repeat;
    height: 100vh;
}